.GuessTheNumber {
	margin-bottom: 2rem;
}

.GuessTheNumber form {
	display: flex;
	gap: 1rem;
	align-items: stretch;
	margin-bottom: 1rem;
}

.GuessTheNumber form input {
	flex: 1;
}

.result {
	padding: 0.5rem 1rem;
}

.result p {
	margin: 0;
}

.success {
	border-color: var(--color-success);
	color: var(--color-success);
}

.failure {
	border-color: var(--color-error);
	color: var(--color-error);
}
